<!--<p id="notice"><%= notice %></p>-->

<h1 align="center">Cardholder Accounts</h1>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Cardholder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cardholder_accounts.each do |cardholder_account| %>
      <tr>
        <td><%= cardholder_account.firstname %></td>
        <td><%= cardholder_account.lastname %></td>
        <td><%= cardholder_account.cardholder_id %></td>
        <td><%= link_to 'Show', cardholder_account %></td>
        <td><%= link_to 'Edit', edit_cardholder_account_path(cardholder_account) %></td>
        <td><%= link_to 'Destroy', cardholder_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<%= link_to 'New Cardholder Account', new_cardholder_account_path %>
