<!DOCTYPE html>
<html>
  <head>


<title>Library System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>LibrarySystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <a class="navbar-brand" href="#">Library System</a>
              <li class="navpadd"><%= button_to "Checkout", checkouts_path, method: :get %></li>
              <li class="navpadd"><%= button_to "Cardholders", cardholder_accounts_path, method: :get %></li>
              <li class="navpadd"><%= button_to "Cardholder Info", cardholder_personal_infos_path, method: :get %></li>
              <li class="navpadd"><%= button_to "Fines", fines_path, method: :get %></li>
              <li class="navpadd"><%= button_to "Materials", materials_path, method: :get %></li>
              <li><a href="#about">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </head>
    <br />

  <body>
      <span style="float:right; padding-top: 15px;"><%= image_tag("libraries.jpg", :alt => "Library System", :width => 250, :height => 165) %></span>
    <%= yield %>
  </body>
</html>






