    <!-- Carousel
    ================================================== -->

    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
        	<%= image_tag("lib.jpeg", :alt => "picture1", :width => 1600, :height => 640) %>
          <!--<img class="first-slide" src="" alt="First slide"> -->
          <div class="container">
            <div class="carousel-caption">
                <% if user_signed_in? %>
                <h1>Checkout a Cardholder </h1>
                <p><%= button_to "Checkout", checkouts_path, method: :get, class: "btn btn-lg btn-warning" %></p>
                <% else %>
              <h1>Staff: Login To Our System</h1>
              <p>Our Library Management System is Awesome.</p>
                <% end %>
              <% if user_signed_in? %>
                <% else %>
              <p><%= button_to "Log In", new_user_session_path, method: :get, class: "btn btn-lg btn-primary" %></p>
                <% end %>
            </div>
          </div>
        </div>
        <div class="item">
         	<%= image_tag("library_pic.jpg", :alt => "picture2", :width => 1600, :height => 640) %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Reading Is Awesome</h1>
              <p>Please, come check us out!</p>
                <% if user_signed_in? %>
                <% else %>
              <p><%= button_to "Log In", new_user_session_path, method: :get, class: "btn btn-lg btn-primary" %></p>
                <% end %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("lib2.jpeg", :alt => "picture3", :width => 1600, :height => 640) %>
          <div class="container">
            <div class="carousel-caption">
              <h1>This Is The Best Library Ever.</h1>
              <p>We have the best books around!</p>
              <% if user_signed_in? %>
                <% else %>
              <p><%= button_to "Log In", new_user_session_path, method: :get, class: "btn btn-lg btn-primary" %></p>
                <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


<!-- Some filler home page text and images -->
<div class="container text-center">    
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://www.nzmoray.co.nz/photos/company-office-management-property-administration.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>This Library-System application was made by using Ruby on Rails. Bootstrap was used to style the website.</p>
    </div>
    <div class="col-sm-4"> 
      <img src="http://www.fc.ac.ae/wp-content/uploads/2013/11/DIPLOMA-IN-BUSINESS-ADMINISTRATION.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>The web application was designed for staff and administration to log in, and make modifications, additions, deletions, and manipulations to the Libraries stored data. For example, an Administrator can add and delete employees.</p>    
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p><blockquote>"This is the best library application I have ever used!" - W. Kajjumba</blockquote></p>
      </div>
      <div class="well">
       <p><blockquote>"Easy to Use and Improves Productivity." - J. Murray </blockquote></p>
      </div>
    </div>
  </div>
</div>

<br />

<script>
  $('.carousel').carousel({
    interval: 3000
  })
</script>









